<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>CODE-PRINCE</title>
      <style>
         h1 {
            font-size: 40px;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
               sans-serif;
            font-weight: normal;
            color: rgb(100, 100, 100);
         }
         #bannner {
            width: 100%;
            height: 360px;
         }
      </style>
      <!-- <link rel="stylesheet" href=""> -->
   </head>
   <body>
      {% include 'navbar.html' %}

      <center>
         <h3>About Princewill</h3>
      </center>
      <p>
         Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         Exercitationem cupiditate ad debitis est reprehenderit excepturi
         aliquid doloremque ipsam dignissimos provident magnam eaque quos earum
         cumque qui, assumenda vero, adipisci ipsum eligendi enim totam,
         distinctio eos ab nostrum. Cumque necessitatibus nulla distinctio quae
         blanditiis. Nesciunt voluptatum error saepe maiores similique sequi
         aliquid suscipit quidem veniam commodi corporis iusto, necessitatibus
         voluptatem sapiente. Illo recusandae repellat accusantium unde porro
         ipsam dicta necessitatibus odio totam sequi explicabo voluptas deserunt
         nesciunt qui optio expedita amet, quibusdam delectus nulla a beatae
         quis. Quos ducimus rerum nostrum, veniam accusamus quisquam, odio
         cupiditate eum sunt distinctio totam impedit. Nesciunt, libero
         consequatur. Perferendis sequi molestiae commodi numquam harum vitae
         qui! Dicta assumenda dolor quae blanditiis ut, vero maiores deleniti
         aliquid distinctio in maxime. Quisquam nihil, optio maxime corporis
         ipsum voluptatem, provident veritatis laborum sed sequi est dignissimos
         placeat, repellendus pariatur a enim vitae suscipit ut natus amet
         itaque cupiditate nisi nam? Sint nam similique eos, corrupti ipsum
         magnam reprehenderit enim maxime laudantium id officia ratione
         voluptatibus facere beatae, distinctio non? Rem, tempore accusantium
         non, eaque adipisci consequatur iste cupiditate, quisquam eveniet
         molestiae a natus vel soluta vitae distinctio libero esse ea facere
         quam quod debitis quos optio sapiente officiis. Sed voluptate alias
         vero, placeat ipsum labore hic nemo harum numquam. Quae, sit illo rerum
         totam, nesciunt nulla inventore aut alias tempora qui, sint libero
         consequatur doloremque et ea minima officiis hic? Voluptas pariatur
         dignissimos, quisquam cumque id ex quae labore hic neque minus dolorum
         beatae laboriosam illum? Ab ad odio, officia, excepturi aliquid quia
         quasi quae reiciendis optio molestiae ea eum tempore molestias unde
         tempora numquam magni fugit. Incidunt maiores adipisci, labore beatae,
         necessitatibus, culpa molestiae praesentium dicta repellendus sunt
         explicabo odio saepe delectus distinctio maxime! Quis optio magni
         veniam laboriosam hic ea molestiae facilis saepe quisquam tempore
         maxime tenetur esse quae quas, doloremque, quibusdam quaerat blanditiis
         incidunt, iusto similique. Deleniti necessitatibus modi praesentium.
         Vitae explicabo dolorum modi accusantium libero iusto, impedit
         mollitia, magnam dicta, reiciendis nostrum aliquam eum harum earum
      </p>
      <center>
         <h3>Recent Acitvities</h3>
         <p>Show jobs here</p>
         <a href="http:/jobs_done/">see more</a>
      </center>
      <br />
      <button>Contact Me</button>
   </body>
</html>
